img {
    width: 100%;
    height: auto;
}

#container {
    background-color: aquamarine;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.output {
    height: 350px;
    width: 600px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px auto;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    grid-template-areas: 
        'player computer'
        'player_choice computer_choice';
    background-color: chartreuse;
}

#player { grid-area: player; justify-self: center; }
#computer { grid-area: computer; justify-self: center; }
#player_choice { grid-area: player_choice; justify-self: center; }
#computer_choice { grid-area: computer_choice; justify-self: center; }

h2 {
    font-size: 32px;
}

.buttons {
    height: 200px;
    width: 600px;

    background-color: cyan;
}