body {
    height: 100%; 
    background-color: cornflowerblue;
}

#container {
    background-color: aquamarine;
    box-sizing: border-box;

    min-height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view {
    height: 300px;
    width: 700px;

    background-color: black;
}

.buttons {
    height: 200px;
    width: 600px;

    background-color: cyan;
}